<h1>Bookshelf</h1>

  <% if @books.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.id, book %></td>
          <td><%= book.title %></td>
          <td><%= book.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @books %>
  </div>
<% end %>

<%= link_to '新規投稿', new_book_path, class: "btn btn-primary" %>